/* 
    Document   : style
    Created on : 14/10/2010, 10:02:12
    Author     : ricardo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    margin: 20px;
    padding: 0;
    font-family: Helvetiva, Arial;
    background-color: #EFEFEF;
}

li{
    font-size: 12px;
}

ul{
    list-style-image: url("../img/14.gif");
    
}

#poi_list a{
    position:relative;
    top:-6px;
    left: -8px;
}
#poi_list{
    line-height: 1.1em;
}
a:link,a:active,a:hover{color: #4F4F4F;}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: underline;
    background-color: #dedede;
}

.selected, #msgPesquisa {
    font-weight: bold;
}
#msgPesquisa{
    color:#0F0F0F;
    font-size:14px;
    margin-top:20px;
}

/*
SWF UPLOAD
*/
#swfupload-control p{ margin:10px 5px; font-size:0.9em; }
#log{ margin:0; padding:0; width:500px;}
#log li{ list-style-position:inside; margin:2px; border:1px solid #ccc; padding:10px; font-size:12px;
  font-family:Arial, Helvetica, sans-serif; color:#333; background:#fff; position:relative;}
#log li .progressbar{ border:1px solid #333; height:5px; background:#fff; }
#log li .progress{ background:#999; width:0%; height:5px; }
#log li p{ margin:0; line-height:18px; }
#log li.success{ border:1px solid #339933; background:#ccf9b9; }
#log li span.cancel{ position:absolute; top:5px; right:5px; width:20px; height:20px;
background:url('../js/swfupload/cancel.png') no-repeat; cursor:pointer; }